@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-800 font-sans;
  }
}

@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out;
  }
}
